<nav class="navbar navbar-expand-lg navbar-light ">
  <span class="navbar-brand mb-0 h1 text-light">
    <img src="assets/img/logo.png">
     My Anime DataBase

  </span>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <button class="btn text-light" routerLink="/madb">Home </button>
      <button class="btn text-light" routerLink="/anime/liste">My Anime List </button>
      <button class="btn text-light" routerLink="/manga/liste">My Manga List </button>
      <div class="dot"></div>

    </ul>
  </div>
</nav>