<nav class="navbar navbar-light ">
    <div class="row">
        <div class="col-md-3">
            <img src="../../../assets/img/tokyou.png" alt="">
            
        </div>
        <a class="btn" href="https://www.facebook.com/psyco.racheh1/"> <i class="fa fa-facebook-square"> Facebook</i></a>
        <a class="btn" href="https://www.linkedin.com/in/wassim-racheh-21079419b/"> <i class="fa fa-linkedin"> Linkedin</i></a>
    </div>
    
    <p class="text-light text-center"> My Anime Data Base &copy; 2021  </p>
        <p class="text-light text-center"> MADB , Made With <a href="#"> Wassim Racheh</a></p>
  </nav>